{% extends "../layouts/page-layout.html" %}
{% from "../macros/header.njk" import header %}
{% from "../macros/footer.njk" import footer %}

{% block header %}
  {{ header(notification.personalisation) }}
{% endblock %}

{% block content %}

  <div class="columns">
    <div class="column">

      <div class="text-block">
        <h2>The Data Protection Act 1998</h2>
        <p>
        We, the Environment Agency, will process the information you provide so that we can deal with your abstraction return, make sure you keep to the conditions of the licence, permit or registration, and process renewals.
        </p>
        <p>We may also process or release the information to:</p>

        <ul>
          <li>offer you documents or services relating to environmental matters</li>
          <li>
            consult the public, public organisations and other organisations (for example, the Health & Safety Executive, local authorities, the emergency services, the Department for Environment, Food and Rural Affairs) on environmental issues
          </li>
          <li>carry out research and development work on environmental issues, or allow others to do so</li>
          <li>manage and assess present and likely future demand for water, or allow others to do so</li>
          <li>
            prevent anyone from breaking environmental law, investigate cases where environmental law may have been broken, and take any action that is needed
          </li>
          <li>assess whether customers are satisfied with our service, and to improve our service, and</li>
          <li>
            respond to requests for information under the Freedom of information Act 2000 and the Environmental Information Regulations 2004 (if the Data Protection Act allows).
          </li>
        </ul>

        <p>We may pass the information on to our agents or representatives to do these things for us.</p>
      </div>
    </div>

    <div class="column">
      <div class="text-block">
        <div class="item">
          <h3 class="buffed">Contacting us</h3>
          <p>
          You can email us about your data:
          <br><span class="bold">dataprotection@environment-agency.gov.uk</span>
          </p>
          <p>
          Or write to:<br>
          <span class="bold">Data Protection Team, Environment Agency, Horizon House, Deanery Road, Bristol BS1 5AH</span>
          </p>
          <p>
          Find out about your rights or complain on the Information Commissioner’s Office:<br>
          <span class="bold">www.ico.org.uk</span>
          </p>
        </div>

        <div class="item">
          <p>
          To claim commercial in confidence for this return, contact the Waste and Industry Regulatory Services on <span class="bold">national-operator-returns@environment-agency.gov.uk</span>, or <span class="bold">03708 506 506</span>.
          </p>
        </div>
        <div>
          <p>
          Lines are open Monday to Friday,<br>
          8am to 6pm (GMT).
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}
  {{ footer(totalPages, totalPages) }}
{% endblock %}
