{% extends "../layouts/page-layout.html" %}
{% from "../macros/header.njk" import header %}
{% from "../macros/address.njk" import address %}
{% from "../macros/returns-title.njk" import returnsTitle %}
{% from "../macros/cover-text.njk" import coverText %}
{% from "../macros/cover-details.njk" import coverDetails %}
{% from "../macros/footer.njk" import footer %}

{% block header %}
  {{ header(notification.personalisation) }}
{% endblock %}

{% block content %}

  <br />
  <br />
  <br />
  {{ returnsTitle(notification.personalisation.returns_frequency) }}

  <div id="cover-content">
    <div class="columns">
      <div class="column">
        {{ coverText(notification.personalisation) }}
      </div>
      <div class="column" id="cover-layout">
        {{ coverDetails(notification.personalisation) }}
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}
  {{ footer(2, totalPages) }}
{% endblock %}
