<div>
  <div class="block-head bold">Contact us</div>

  <div class="item">
    <p>
      If you need any help or to modify any of the information we have for your
      licence, contact the National Customer Contact Centre on
      <span class="bold">03708 506 506</span> or email us on
      <span class="bold">enquiries@environment-agency.gov.uk</span>.
    </p>
  </div>

  <div class="item">
    <p>
    To claim commercial in confidence for<br>
    this return contact us on <span class="bold">abstractions.returns@environment-agency.gov.uk</span>.
    </p>
  </div>
  <div class="item">
    <p>Lines are open Monday to Friday,<br>8am to 6pm.</p>
  </div>
</div>
