<div class="block">
  <div class="block-head bold">Contact us</div>

  <div class="item">
    <p>
    If you need help filling out the form contact the National Customer Contact Centre on <span class="bold">03708 506 506</span>.
    </p>
  </div>

  <div class="item">
    <p>
    To claim commercial in confidence for<br>
    this return contact the Waste and Industry Regulatory Services on <span class="bold">national-operator-returns@environment-agency.gov.uk</span>,<br>
    or <span class="bold">03708 506 506</span>.
    </p>
  </div>
  <div>
    <p>
    Lines are open Monday to Friday,<br>
    8am to 6pm (GMT).
    </p>
  </div>
</div>
