{% macro addressLine(value) %}
  {% if value %}
    {{ value }}<br>
  {% endif %}
{% endmacro %}

{% macro address(personalisation) %}
  <div id="address-container">
    <div class="address-block">

      {{ addressLine(personalisation.address_line_1) }}
      {{ addressLine(personalisation.address_line_2) }}
      {{ addressLine(personalisation.address_line_3) }}
      {{ addressLine(personalisation.address_line_4) }}
      {{ addressLine(personalisation.address_line_5) }}
      {{ addressLine(personalisation.address_line_6) }}
      {{ addressLine(personalisation.address_line_7) }}

    </div>
  </div>

  <div class="address-spacer"></div>

{% endmacro %}
