{% macro coverDetails(personalisation) %}
<div class="item">
  <p class="label">Licence number</p>
  <p class="bold">{{ personalisation.licence_ref }}</p>
</div>

<div class="item">
  <p class="label">Return reference</p>
  <p class="bold">{{ personalisation.format_id }}</p>
</div>

<div class="item">
  <p class="label">Site description</p>
  <p class="bold">{{ personalisation.site_description | title }}</p>
</div>

<div class="item">
  <p class="label">Purpose</p>
  <p class="bold">{{ personalisation.purpose | title }}</p>
</div>

<div class="item">
  <p class="label">Return period</p>
  <p>
  <span class="bold">{{ personalisation.start_date | date }}</span> to <span class="bold">{{ personalisation.end_date | date }}</span>
  </p>
</div>

<div class="boxed">
  <div class="item">
    <p class="bold">Send this page with your completed form to:</p>
  </div>
  <div class="item">
    <p>
    Waste and Industry Regulatory Services<br>
    Environment Agency<br>
    Quadrant 2, 99 Parkway Avenue<br>
    Sheffield, S9 4WF
    </p>
  </div>
</div>

<div class="item">
  <p class="bold">If you do not send your return in time<br>we may take enforcement action.</p>
</div>

{% endmacro %}
