{% macro coverText(personalisation) %}
<div class="block">
  <div class="item">
    <p>Send us your return by <span class="bold">{{ personalisation.due_date | date }}</span>.</p>
  </div>

  <div class="item">
    <p>You must submit a return form even if you have not abstracted any water.</p>
  </div>

  <div class="item">
    <p>
      If your licence has expired or been cancelled complete the return
      up to the end date of the licence.
    </p>
  </div>

  <div class="item">
    <p>Two-part tariff holders may want to send the form by recorded delivery.</p>
  </div>

  <div class="item">
    <p>
    Before sending it make sure you:
    <ul>
      <li>fill in all the relevant sections</li>
      <li>tick the ‘nil return’ box if no water has been abstracted</li>
      <li>sign the declaration</li>
      <li>include this page with your form</li>
    </ul>
    </p>
  </div>

  <div class="item">
    <p>
      If you are required to carry out monitoring as a condition of your licence
      you need to continue sending this information to your local area office.
    </p>
  </div>
</div>

{% endmacro %}
