{% macro dataCollectionIntro(personalisation) %}

  {% if personalisation.returns_frequency === 'day' %}
    <p class="lede regular">Taken at the end of each day. Enter ‘0’ on the days you did not abstract water.</p>
  {% endif %}

  {% if personalisation.returns_frequency === 'week' %}
    <p class="lede">Week ending meter readings or volumes.</p>
  {% endif %}

  {% if personalisation.returns_frequency === 'month' %}
    <p class="lede">Month ending meter readings or volumes</p>
  {% endif %}
{% endmacro %}
