{% macro reminderText(personalisation) %}
        <div class="block bigger-text">
          <div class="item">
            <p>
              Dear licence holder (or representative),
            </p>
          </div>
          <div class="item">
            <p>
              <strong>Your water abstraction return for {{ personalisation.start_date | date }} to {{ personalisation.end_date | date }} is now overdue.</strong>
            </p>
          </div>
          <div class="item">
            <p>
              Please disregard this letter if you have already submitted your water abstraction return.
            </p>
          </div>
          <div class="item">
            <p>
              You should complete your return as soon as possible even if you did not abstract water in this period. If you do not submit your return we may take enforcement action which could include criminal or civil sanctions.
            </p>
          </div>
          <div class="item">
            <p>
              You can do your return easily online by signing in to your account. Search GOV.UK for ‘Manage your water abstraction’.
            </p>
          </div>
          <div class="item">
            <p>
              If you are not yet registered online, please create an account:
            </p>
            <ol>
              <li>You will need an email address and your licence numbers.</li>
              <li>Search GOV.UK for ‘Manage your water abstraction’.</li>
              <li>Registering will generate a security code which we post to the licence holder at their address.</li>
              <li>Use the security code to complete registration.</li>
              <li>You can then submit your return.</li>
            </ol>
          </div>
          <div class="item">
            <p>
              <strong>If you are not the licence holder</strong>
              <br />
              If you manage returns on behalf of the licence holder, they will need to log in to the service and give you access to submit returns.
            </p>
          </div>
          <div class="item">
            <p>
              Alternatively, fill out the attached paper return form and send it back straight away. If you have any questions please call 03708 506 506.
            </p>
          </div>
          <div class="item">
            <p>
              Yours faithfully
            </p>
            <p>
              Water Resource Licensing Service
            </p>
          </div>

        </div>
{% endmacro %}
