<!DOCTYPE html>
<html>
  <head>
    <style>
      {% include "includes/reset.css" %}
      {% include "includes/custom.css" %}
    </style>
  </head>
  <body class="paper">

    {% set dataPages = paginateReturnLines(notification.personalisation) %}
    {% set totalPages = dataPages.length + 5 %}

    {% include 'pages/cover.njk' %}
    {% include 'pages/guidance.njk' %}
    {% include 'pages/initial-questions.njk' %}

    {% for page in dataPages %}
      {% include 'pages/data-collection.njk' %}
    {% endfor %}

    {% include 'pages/declaration.njk' %}
    {% include 'pages/privacy.njk' %}

  </body>
</html>
